.cardEvent {
    width: 100%;
    position: relative;
    /* min-height: 70px; edit button bug*/
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 0 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff; */
}

.eventMain {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.eventName {
    width: 100%;
    font-size: 16px;
}

.eventUsername{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.profileImage{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px 20px 0 0;
}

.cardLeft{
    display: flex;
    flex-direction: row;
}

.cardRight{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 22px;
    margin-top: 15px;
    color: var(--main-color);
}

