.cardEvent {
    width: 100%;
    position: relative;
    min-height: 70px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 0px 20px;
    padding: 0 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff; */
}

.eventMain {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.eventName {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

.eventUsername{
    width: 100%;
    font-size: 14px;
}

.profileImage{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 20px auto 0;
}

.cardLeft{
    display: flex;
    flex-direction: row;
}

.cardRight{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 22px;
    color: var(--main-color);
}

