.cardsMainSection {
    width: 100%;
    height: fit-content;
}

.cardsSection {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardEvent {
    width: 100%;
    position: relative;
    min-height: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.eventMain {
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.eventHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.eventHeaderSec {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.eventHeaderLeft {
    width: 70%;
}

.eventHeaderRight {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
}

.eventHeaderRight * {
    margin: 10px;
}

.eventHeaderRight:hover {
    color: var(--main-color);
}

.eventHeaderRightLink {
    cursor: pointer;
}

.eventName {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}

.eventOrgName {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 15px 0;
}

.eventDesc {
    width: 100%;
    font-size: 16px;
    color: #000000c4;
    line-height: 19px;
    padding-bottom: 5px;
}

.primaryButton {
    padding: 5px 15px;
    margin: 10px 20px 10px 5px;
}

.primaryButton:hover {
    color: var(--main-color);
}

.secondaryButton {
    height: 50px;
    padding: 0 5px;
    margin: 0;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.secondaryButton:hover {
    background-color: var(--main-color);
    color: white;
    border: #fff;
    border: none;
}

.secondaryButton {
    color: var(--main-color);
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
}

.eventMenu {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 190px;
    background-color: var(--body-background);
    display: none;
}

.eventMenu.active {
    display: flex;
}

.eventMenuItem {
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.eventMenuItem:hover {
    background-color: var(--body-background-dark);
}


@media only screen and (max-width: 800px) {
    .cardsSection {
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {}